/* Import all component styles */
@import url('utilities/variables.css');
@import url('utilities/animations.css');
@import url('utilities/responsive.css');
@import url('components/header.css');
@import url('components/hero.css');
@import url('components/about.css');
@import url('components/skills.css');
@import url('components/case-studies.css');
@import url('components/projects.css');
@import url('components/contact.css');
@import url('components/footer.css');